<<<<<<< HEAD
<div class="container">
  <h2>Best Time</h2>
  <br />
  <div id="bestTime"></div>
  <hr />
</div>

<div class="container">
  <h2>{{this.name}}, your Best Time is {{this.bestTime}}s</h2>

  <h2>You avoided: {{this.treasurePoint}} trains</h2>
</div>
=======
{{!-- This code append data from lender.js jquery

<div class="container">
    <h2>Best Time</h2>
    <br />
    <div id="bestTIme"></div>
    <hr />
</div> 

>>>>>>> master

--}}
<script type="text/javascript" src="/assets/js/leaders.js"></script>

{{!-- This code run when there is user score --}}
{{#if finalScore.bestTime}}
<div class="container">
    <h2>{{finalScore.name}}, your Best Time is {{finalScore.bestTime}}s</h2>
    <h2>Your Coins Collected is: {{finalScore.treasurePoint}} coins</h2>
    <h2>Humber of Monsters Killed: {{finalScore.monstersKilled}} </h2>
</div>
{{/if}}

<br>
<div class="row">
    <div class="col-sm-2">
        {{!-- Spacing columns --}}
    </div>
    <div class="col-sm-8">
        <h1 align="center">Leaderboard Page</h1>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        {{!-- Main menu button --}}
        <input class="MyButton" type="button" value="<--" onclick="window.location.href='/'" />
    </div>
    <div class="col-sm-2">
        {{!-- Spacing columns --}}
    </div>
</div>